body ul,
body ul li {
	list-style:  		none;
	margin:				0px;
	padding:			0px;
}

/*** hidden broken image ***/
img[src=''] {
	display:	none;
}


/**** table ***/
table {
	border-collapse:		collapse;
}

td.title {
	text-align:				right;
	white-space:			nowrap;
}

td.space-left {
	padding-left:			20px;
}


/*** Search ***/
a.lwhButton-search {
	display:			inline-block;
	border:				1px solid #cccccc;
	padding-right:		40px;
	background:			#20AFC5 right center url(icon/search.png) no-repeat;
	vertical-align:		middle;
	border-radius:		5px;
	overflow:			hidden;
}

a.lwhButton-search > input {
	line-height:		36px;
	font-size:			22px;
	vertical-align:		middle;
	border:				0px;
	width:				250px;
}

a.lwhButton-search >
span.lwhButton-remove {
	display:			inline-block;
	position:			relative;
	width:				32px;
	height:				38px;
	background:			#ffffff center center url(icon/remove.png) no-repeat;
	vertical-align:		middle;
}


/***button and ICON *******/
input.lwhButton {
	padding:			3px 12px 4px 12px;
	border-radius:		3px;
	vertical-align:		middle;

	color:				#ffffff;
	background-color:	#DB7704;
	background-image: 	linear-gradient(#DB7704, #F49930);
	
	border:				1px solid #666666;
	box-shadow:			1px 1px 0px #666666;

	font-weight:		600;
	min-width:			80px;
	font-size:			14px;
	line-height:		20px;

}

input.lwhButton-h22 {
	min-width:			60px;
	font-size:			12px;
	line-height:		12px;
}

input.lwhButton-h36 {
	min-width:			80px;
	font-size:			16px;
	line-height:		26px;
}

input.lwhButton-h40 {
	min-width:			80px;
	font-size:			18px;
	line-height:		30px;
}

input.lwhButton:hover {
    background-color:	#F49930;
	background-image: 	linear-gradient(#F49930, #F9B76B);
	box-shadow:			none;
}


input.lwhButton-navi {
    background-color: 	#18a7be;
	background-image: 	linear-gradient(#18a7be, #35c3d9);
	border:				1px solid #999999;
	box-shadow:			1px 1px 0px #999999;
}

input.lwhButton-navi:hover {
    background-color:	#35c3d9;
	background-image: 	linear-gradient(#35c3d9, #52D6EA);
}

input.lwhButton-blue {
    background-color:	#2063BC;
	background-image: 	linear-gradient(#2063BC, #3A7BD1);
	border:				1px solid #333333;
	box-shadow:			1px 1px 0px #333333;
}

input.lwhButton-blue:hover {
    background-color:	#3A7BD1;
	background-image: 	linear-gradient(#3A7BD1, #5591E0);
}



/****************************************************************/
/****** change state  ******/
.lwhCommon-state12 {
	position:	relative;
	display:	inline-block;
	width:		12px;
	height:		12px;
	
	background-image:	url(common/lwhCommon-state12.png);
	background-repeat:	no-repeat;
	vertical-align:		middle;
    margin-left:        0px;
    margin-right:       1px;
}

.lwhCommon-state12-0 {
	background-position:	-36px 0px;
}

.lwhCommon-state12-1 {
	background-position:	0px 0px;
}

.lwhCommon-state12-2 {
	background-position:	-24px 0px;
}

.lwhCommon-state12-3 {
	background-position:	-12px 0px;
}

.lwhCommon-state12-4 {
	background-position:	-48px 0px;
}


.lwhCommon-state16 {
	position:	relative;
	display:	inline-block;
	width:		16px;
	height:		16px;
	
	background-image:	url(common/lwhCommon-state16.png);
	background-repeat:	no-repeat;
	vertical-align:		middle;
    margin-left:        0px;
    margin-right:       1px;
}

.lwhCommon-state16-0 {
	background-position:	-48px 0px;
}

.lwhCommon-state16-1 {
	background-position:	0px 0px;
}

.lwhCommon-state16-2 {
	background-position:	-32px 0px;
}

.lwhCommon-state16-3 {
	background-position:	-16px 0px;
}

.lwhCommon-state16-4 {
	background-position:	-64px 0px;
}



.lwhCommon-state18 {
	position:	relative;
	display:	inline-block;
	width:		18px;
	height:		18px;
	
	background-image:	url(common/lwhCommon-state18.png);
	background-repeat:	no-repeat;
	vertical-align:		middle;
    margin-left:        0px;
    margin-right:       1px;
}

.lwhCommon-state18-0 {
	background-position:	-54px 0px;
}

.lwhCommon-state18-1 {
	background-position:	0px 0px;
}

.lwhCommon-state18-2 {
	background-position:	-36px 0px;
}

.lwhCommon-state18-3 {
	background-position:	-18px 0px;
}

.lwhCommon-state18-4 {
	background-position:	-72px 0px;
}
/**************************/


/*** common icons ****/
/*** icons 16 ****************/
a.lwhCommon-icon16 {
	position:	relative;
	display:	inline-block;
	width:		16px;
	height:		16px;
	
	background-image:	url(common/lwhCommon-buttons16.png);
	background-repeat:	no-repeat;
	vertical-align:		middle;
    margin-left:        1px;
    margin-right:       0px;
}

a.lwhCommon-icon16-detail {
	background-position:	0px 0px;
}
a.lwhCommon-icon16-detail:hover {
	background-position:	0px -32px;
}
a.lwhCommon-icon16-detail-na,
a.lwhCommon-icon16-detail-na:hover {
	display:				none;
	background-position:	0px -16px;
}

a.lwhCommon-icon16-save {
	background-position:	-16px 0px;
}
a.lwhCommon-icon16-save:hover {
	background-position:	-16px -32px;
}
a.lwhCommon-icon16-save-na,
a.lwhCommon-icon16-save-na:hover {
	display:				none;
	background-position:	-16px -16px;
}

a.lwhCommon-icon16-delete {
	background-position:	-32px 0px;
}
a.lwhCommon-icon16-delete:hover {
	background-position:	-32px -32px;
}
a.lwhCommon-icon16-delete-na,
a.lwhCommon-icon16-delete-na:hover {
	display:				none;
	background-position:	-32px -16px;
}

a.lwhCommon-icon16-add {
	background-position:	-48px 0px;
}
a.lwhCommon-icon16-add:hover {
	background-position:	-48px -32px;
}
a.lwhCommon-icon16-add-na,
a.lwhCommon-icon16-add-na:hover {
	display:				none;
	background-position:	-48px -16px;
}

a.lwhCommon-icon16-output {
	background-position:	-64px 0px;
}
a.lwhCommon-icon16-output:hover {
	background-position:	-64px -32px;
}
a.lwhCommon-icon16-output-na,
a.lwhCommon-icon16-output-na:hover {
	display:				none;
	background-position:	-64px -16px;
}

a.lwhCommon-icon16-print {
	background-position:	-80px 0px;
}
a.lwhCommon-icon16-print:hover {
	background-position:	-80px -32px;
}
a.lwhCommon-icon16-print-na,
a.lwhCommon-icon16-print-na:hover {
	display:				none;
	background-position:	-80px -16px;
}

a.lwhCommon-icon16-cancel {
	background-position:	-96px 0px;
}
a.lwhCommon-icon16-cancel:hover {
	background-position:	-96px -32px;
}
a.lwhCommon-icon16-cancel-na,
a.lwhCommon-icon16-cancel-na:hover {
	display:				none;
	background-position:	-96px -16px;
}

a.lwhCommon-icon16-folder {
	background-position:	-112px 0px;
}
a.lwhCommon-icon16-folder:hover {
	background-position:	-112px -32px;
}
a.lwhCommon-icon16-folder-na,
a.lwhCommon-icon16-folder-na:hover {
	display:				none;
	background-position:	-112px -16px;
}

a.lwhCommon-icon16-list {
	background-position:	-128px 0px;
}
a.lwhCommon-icon16-list:hover {
	background-position:	-128px -32px;
}
a.lwhCommon-icon16-list-na,
a.lwhCommon-icon16-list-na:hover {
	display:				none;
	background-position:	-128px -16px;
}

a.lwhCommon-icon16-search {
	background-position:	-144px 0px;
}
a.lwhCommon-icon16-search:hover {
	background-position:	-144px -32px;
}
a.lwhCommon-icon16-search-na,
a.lwhCommon-icon16-search-na:hover {
	display:				none;
	background-position:	-144px -16px;
}


/*** icons 18 ****************/
a.lwhCommon-icon18 {
	position:	relative;
	display:	inline-block;
	width:		18px;
	height:		18px;
	
	background-image:	url(common/lwhCommon-buttons18.png);
	background-repeat:	no-repeat;
	vertical-align:		middle;
   	margin-left:        1px;
    margin-right:       0px;
}

a.lwhCommon-icon18-detail {
	background-position:	0px 0px;
}
a.lwhCommon-icon18-detail:hover {
	background-position:	0px -36px;
}
a.lwhCommon-icon18-detail-na,
a.lwhCommon-icon18-detail-na:hover {
	display:				none;
	background-position:	0px -18px;
}

a.lwhCommon-icon18-save {
	background-position:	-18px 0px;
}
a.lwhCommon-icon18-save:hover {
	background-position:	-18px -36px;
}
a.lwhCommon-icon18-save-na,
a.lwhCommon-icon18-save-na:hover {
	display:				none;
	background-position:	-18px -18px;
}

a.lwhCommon-icon18-delete {
	background-position:	-36px 0px;
}
a.lwhCommon-icon18-delete:hover {
	background-position:	-36px -36px;
}
a.lwhCommon-icon18-delete-na,
a.lwhCommon-icon18-delete-na:hover {
	display:				none;
	background-position:	-36px -18px;
}

a.lwhCommon-icon18-add {
	background-position:	-54px 0px;
}
a.lwhCommon-icon18-add:hover {
	background-position:	-54px -36px;
}
a.lwhCommon-icon18-add-na,
a.lwhCommon-icon18-add-na:hover {
	display:				none;
	background-position:	-54px -18px;
}

a.lwhCommon-icon18-output {
	background-position:	-72px 0px;
}
a.lwhCommon-icon18-output:hover {
	background-position:	-72px -36px;
}
a.lwhCommon-icon18-output-na,
a.lwhCommon-icon18-output-na:hover {
	display:				none;
	background-position:	-72px -18px;
}

a.lwhCommon-icon18-print {
	background-position:	-90px 0px;
}
a.lwhCommon-icon18-print:hover {
	background-position:	-90px -36px;
}
a.lwhCommon-icon18-print-na,
a.lwhCommon-icon18-print-na:hover {
	display:				none;
	background-position:	-90px -18px;
}

a.lwhCommon-icon18-cancel {
	background-position:	-108px 0px;
}
a.lwhCommon-icon18-cancel:hover {
	background-position:	-108px -36px;
}
a.lwhCommon-icon18-cancel-na,
a.lwhCommon-icon18-cancel-na:hover {
	display:				none;
	background-position:	-108px -18px;
}

a.lwhCommon-icon18-folder {
	background-position:	-126px 0px;
}
a.lwhCommon-icon18-folder:hover {
	background-position:	-126px -36px;
}
a.lwhCommon-icon18-folder-na,
a.lwhCommon-icon18-folder-na:hover {
	display:				none;
	background-position:	-126px -18px;
}

a.lwhCommon-icon18-list {
	background-position:	-144px 0px;
}
a.lwhCommon-icon18-list:hover {
	background-position:	-144px -36px;
}
a.lwhCommon-icon18-list-na,
a.lwhCommon-icon18-list-na:hover {
	display:				none;
	background-position:	-144px -18px;
}

a.lwhCommon-icon18-search {
	background-position:	-162px 0px;
}
a.lwhCommon-icon18-search:hover {
	background-position:	-162px -36px;
}
a.lwhCommon-icon18-search-na,
a.lwhCommon-icon18-search-na:hover {
	display:				none;
	background-position:	-162px -18px;
}

/*** icons 20px ****************/
a.lwhCommon-icon20 {
	position:	relative;
	display:	inline-block;
	width:		20px;
	height:		20px;
	
	background-image:	url(common/lwhCommon-buttons20.png);
	background-repeat:	no-repeat;
	vertical-align:		middle;
    margin-left:        1px;
    margin-right:       0px;
}

a.lwhCommon-icon20-detail {
	background-position:	0px 0px;
}
a.lwhCommon-icon20-detail:hover {
	background-position:	0px -40px;
}
a.lwhCommon-icon20-detail-na,
a.lwhCommon-icon20-detail-na:hover {
	background-position:	0px -20px;
}

a.lwhCommon-icon20-save {
	background-position:	-20px 0px;
}
a.lwhCommon-icon20-save:hover {
	background-position:	-20px -40px;
}
a.lwhCommon-icon20-save-na,
a.lwhCommon-icon20-save-na:hover {
	background-position:	-20px -20px;
}

a.lwhCommon-icon20-delete {
	background-position:	-40px 0px;
}
a.lwhCommon-icon20-delete:hover {
	background-position:	-40px -40px;
}
a.lwhCommon-icon20-delete-na,
a.lwhCommon-icon20-delete-na:hover {
	background-position:	-40px -20px;
}

a.lwhCommon-icon20-add {
	background-position:	-60px 0px;
}
a.lwhCommon-icon20-add:hover {
	background-position:	-60px -40px;
}
a.lwhCommon-icon20-add-na,
a.lwhCommon-icon20-add-na:hover {
	background-position:	-60px -20px;
}

a.lwhCommon-icon20-output {
	background-position:	-80px 0px;
}
a.lwhCommon-icon20-output:hover {
	background-position:	-80px -40px;
}
a.lwhCommon-icon20-output-na,
a.lwhCommon-icon20-output-na:hover {
	background-position:	-80px -20px;
}

a.lwhCommon-icon20-print {
	background-position:	-100px 0px;
}
a.lwhCommon-icon20-print:hover {
	background-position:	-100px -40px;
}
a.lwhCommon-icon20-print-na,
a.lwhCommon-icon20-print-na:hover {
	background-position:	-100px -20px;
}

a.lwhCommon-icon20-cancel {
	background-position:	-120px 0px;
}
a.lwhCommon-icon20-cancel:hover {
	background-position:	-120px -40px;
}
a.lwhCommon-icon20-cancel-na,
a.lwhCommon-icon20-cancel-na:hover {
	background-position:	-120px -20px;
}

a.lwhCommon-icon20-folder {
	background-position:	-140px 0px;
}
a.lwhCommon-icon20-folder:hover {
	background-position:	-140px -40px;
}
a.lwhCommon-icon20-folder-na,
a.lwhCommon-icon20-folder-na:hover {
	background-position:	-140px -20px;
}

a.lwhCommon-icon20-list {
	background-position:	-160px 0px;
}
a.lwhCommon-icon20-list:hover {
	background-position:	-160px -40px;
}
a.lwhCommon-icon20-list-na,
a.lwhCommon-icon20-list-na:hover {
	background-position:	-160px -20px;
}

a.lwhCommon-icon20-search {
	background-position:	-180px 0px;
}
a.lwhCommon-icon20-search:hover {
	background-position:	-180px -40px;
}
a.lwhCommon-icon20-search-na,
a.lwhCommon-icon20-search-na:hover {
	background-position:	-180px -20px;
}


/*** icons 22px****************/
a.lwhCommon-icon22 {
	position:	relative;
	display:	inline-block;
	width:		20px;
	height:		20px;
	
	background-image:	url(common/lwhCommon-buttons22.png);
	background-repeat:	no-repeat;
	vertical-align:		middle;
    margin-left:        1px;
    margin-right:       0px;
}

a.lwhCommon-icon22-detail {
	background-position:	0px 0px;
}
a.lwhCommon-icon22-detail:hover {
	background-position:	0px -44px;
}
a.lwhCommon-icon22-detail-na,
a.lwhCommon-icon22-detail-na:hover {
	background-position:	0px -22px;
}

a.lwhCommon-icon22-save {
	background-position:	-22px 0px;
}
a.lwhCommon-icon22-save:hover {
	background-position:	-22px -40px;
}
a.lwhCommon-icon22-save-na,
a.lwhCommon-icon22-save-na:hover {
	background-position:	-22px -22px;
}

a.lwhCommon-icon22-delete {
	background-position:	-44px 0px;
}
a.lwhCommon-icon22-delete:hover {
	background-position:	-44px -44px;
}
a.lwhCommon-icon22-delete-na,
a.lwhCommon-icon22-delete-na:hover {
	background-position:	-44px -22px;
}

a.lwhCommon-icon22-add {
	background-position:	-66px 0px;
}
a.lwhCommon-icon22-add:hover {
	background-position:	-66px -44px;
}
a.lwhCommon-icon22-add-na,
a.lwhCommon-icon22-add-na:hover {
	background-position:	-66px -22px;
}

a.lwhCommon-icon22-output {
	background-position:	-88px 0px;
}
a.lwhCommon-icon22-output:hover {
	background-position:	-88px -44px;
}
a.lwhCommon-icon22-output-na,
a.lwhCommon-icon22-output-na:hover {
	background-position:	-88px -22px;
}

a.lwhCommon-icon22-print {
	background-position:	-110px 0px;
}
a.lwhCommon-icon22-print:hover {
	background-position:	-110px -44px;
}
a.lwhCommon-icon22-print-na,
a.lwhCommon-icon22-print-na:hover {
	background-position:	-110px -22px;
}

a.lwhCommon-icon22-cancel {
	background-position:	-132px 0px;
}
a.lwhCommon-icon22-cancel:hover {
	background-position:	-132px -44px;
}
a.lwhCommon-icon22-cancel-na,
a.lwhCommon-icon22-cancel-na:hover {
	background-position:	-132px -22px;
}

a.lwhCommon-icon22-folder {
	background-position:	-154px 0px;
}
a.lwhCommon-icon22-folder:hover {
	background-position:	-154px -44px;
}
a.lwhCommon-icon22-folder-na,
a.lwhCommon-icon22-folder-na:hover {
	background-position:	-154px -22px;
}


a.lwhCommon-icon22-list {
	background-position:	-176px 0px;
}
a.lwhCommon-icon22-list:hover {
	background-position:	-176px -44px;
}
a.lwhCommon-icon22-list-na,
a.lwhCommon-icon22-list-na:hover {
	background-position:	-176px -22px;
}

a.lwhCommon-icon22-search {
	background-position:	-198px 0px;
}
a.lwhCommon-icon22-search:hover {
	background-position:	-198px -44px;
}
a.lwhCommon-icon22-search-na,
a.lwhCommon-icon22-search-na:hover {
	background-position:	-198px -22px;
}


/* check Button */
a.lwhCommon-checkButton {
	display:				inline-block;
	position:				relative;
	border:					1px solid #999999;
	border-radius: 			10px;
	background-color:		#cccccc;
	background-position: 	0 center;
	background-repeat: 	 	no-repeat;

	width:					20px;
	height:					12px;
	background-image:   	url(common/check_grey12.png);
}

a.lwhCommon-checkButton-checked {
	background-color:		#85D193;
	background-image:   	url(common/check_green12.png);
	background-position: 	100% center;
}
/***************/


.lwhCommon-checked {
	color:				    #ff4400;
}

.lwhCommon-invalid {
	border: 	1px solid pink;
	box-shadow: 0px 0px 2px pink;
}

.lwhCommon-error {
	color:					red;
}

.lwhCommon-checkbox {
	cursor:					pointer;
	vertical-align:			middle;
}

.lwhCommon-date {
	width:					80px;
	font-size:				14px;
	vertical-align:			middle;
}
/*  date picker icon */
img.ui-datepicker-trigger {
	vertical-align:			middle;
}

.lwhCommon-time-hh,
.lwhCommon-time-mm {
	width:					40px;
	vertical-align:			middle;
}
.lwhCommon-date-year {
	font-size:				14px;
	width:					50px;
	vertical-align:			middle;
	text-align:				center;
}
.lwhCommon-date-mm,
.lwhCommon-date-dd {
	font-size:				14px;
	width:					50px;
	vertical-align:			middle;
	text-align:				center;
}

.lwhCommon-daterange-text {
	font-size:				16px;
	vertical-align:			middle;
}

.lwhCommon-long  {
	width:					200px;
	vertical-align:			middle;
}

.lwhCommon-medium  {
	width:					120px;
	vertical-align:			middle;
}

.lwhCommon-short {
	width:					80px;
	vertical-align:			middle;
}

.lwhCommon-tiny {
	width:					40px;
	vertical-align:			middle;
}