/*** fix  bootstrap and mdbootstrap  problem : overwrite their css ***/
table td, table th,
.table td, .table th {
	padding: 		5px 2px;
}

.table-condensed > tbody > tr > td, 
.table-condensed > tbody > tr > th, 
.table-condensed > tfoot > tr > td, 
.table-condensed > tfoot > tr > th, 
.table-condensed > thead > tr > td, 
.table-condensed > thead > tr > th {
    padding: 		5px 2px;
	text-align: 	left;
}

.btn {
	margin: 		0px;
	padding: 		8px 12px;
	line-height: 	100%;
	box-sizing:     content-box;
	border-radius:  5px;
	/* text-shadow:    1px 1px #000000; */
}

.btn-row {
	padding: 		3px 12px;
}
.checkbox label, .radio label {
    cursor: 		pointer;
    font-weight: 	400;
	margin: 		0px;
    padding: 		0px;
}
label {
    font-size: 		1em;
}

div.clockpicker-am-pm-block {
	height: 5px;
}
button.clockpicker-button {
	font-size: 			20px;
	background-color: 	#2BBBAD;
	color: 				#ffffff;
	border: 			1px solid #2BBBAD;
	border-radius:      5px;
	margin-bottom:      20px;
}
button.clockpicker-button:hover {
	background-color: 	#36DBCA;
}
div.picker__day-display {
	line-height: 		1em;
}
table.picker__table {
	margin-bottom: 		0px;
}
div.picker__header {
	margin-bottom:      10px;
}
div.picker__footer {
	padding:    		5px 15px;
}
/***** input element: overwrite bootstrap *****************************/

input {
	padding: 0px;
	margin:  0px;
}

div.row {
	margin-top: 	5px;
	margin-bottom: 	5px;
}

input[type="text"], 
input[type="textbox"],
input[type="password"],
select,
textarea
{
	display:            inline-block;
	background-color: 	rgb(255,255,255);
	color: 				rgb(85,85,85);
	box-shadow: 		rgba(0,​ 0,​ 0,​ 0.075) 0px 1px 1px 0px inset;
	margin: 			1px1px;
	padding-top: 		1px;
	padding-bottom: 	1px;
	padding-left: 		1px;
	padding-right: 		1px;
	border-radius: 		4px;
	border: 			1px solid rgb(204,204,204);
	vertical-align: 	middle;
	height:  			auto;
	width:  			auto;

	font-size:          14px;
}

textarea {
	padding-left: 		1px;
	padding-right: 		1px;
	min-height: 		60px;
	width: 				250px;
}

span.wliu-text {
	display: 			inline-block;
	padding: 			2px;
	margin: 			0px;
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="textbox"]:focus,
select:focus,
textarea:focus {
	border-color: #66afe9;
	box-shadow: 0px 0px 1px #4285F4;
}


span.radio,
span.checkbox {
	display: 		inline-block;
	/*
	white-space: 	nowrap;
	height:         20px;
	line-height:    20px;
	*/
	padding:     	0px;
	margin: 	 	5px;
}
span.radio > label,
span.checkbox > label,
[type="checkbox"] + label,
[type="radio"] + label
{
	display: 	inline-block;
	/*
	height:         20px;
	line-height:    20px;
	*/
	vertical-align: middle;
} 


span.radio > input[type="radio"],
span.checkbox > input[type="checkbox"],
[type="checkbox"],
[type="radio"]
{
	display: 		none;
	position: 		absolute;
	vertical-align: middle;
} 

span.radio > label:before,
span.checkbox > label:before, 
[type="checkbox"] + label:before,
[type="radio"] + label:before
{
	display: 	inline-block;
	position: 	relative;
	width:  	16px;
	height: 	16px;
	margin-right: 2px;
	content: 	" ";
	vertical-align: middle;

    background-color:           transparent;
    background-image:           url(wliu.buttons/wliu-buttons-16.png);
}
span.radio > label:before,
[type="radio"] + label:before
{
	margin-top:   -4px;
}
span.checkbox > label:before,
[type="checkbox"] + label:before
{
	margin-top:   -2px;
}


span.radio > label:before,
[type="radio"] + label:before
{
    background-position:        -40px -120px;
}

span.checkbox > label:before,
[type="checkbox"] + label:before
{
    background-position:        -40px -100px;
}

span.radio:hover > label:before,
[type="radio"]:hover + label:before
{
    background-position:        -20px -120px;
}

span.checkbox:hover > label:before,
[type="checkbox"]:hover + label:before
{
    background-position:        -20px -100px;
}

span.radio > input[type="radio"]:checked + label:before,
[type="radio"]:checked + label:before
{
    background-position:        0px -120px;
}

span.checkbox > input[type="checkbox"]:checked + label:before,
[type="checkbox"]:checked + label:before
{
    background-position:        0px -100px;
}

span.radio > input[type="radio"]:checked + label,
span.checkbox > input[type="checkbox"]:checked + label,
[type="radio"]:checked + label,
[type="checkbox"]:checked + label
{
	color: 		#A807C4;
}

/*** end of fix  bootstrap and mdbootstrap  problem : overwrite their css ***/



img[src=''] {
	display:	none;
}

abbr {
	cursor:          pointer;
	text-decoration: underline;
}

.wliuCommon-header {
	display: 		inline-block;
	position: 		relative;
	padding: 		0px;
	font-size: 		14px; /* 0.9em */
	font-weight: 	400;
	margin: 		5px;
	white-space:    nowrap;
	overflow: 		hidden;
	vertical-align: middle;
}


.wliuCommon-label {
	display: 		inline-block;
	position: 		relative;
	padding: 		0px;
	font-size: 		14px; /* 0.9em */
	font-weight: 	400;
	margin: 		5px;
	vertical-align: middle;
}

.wliuCommon-tips:before {
	content:"* ";
}
.wliuCommon-tips {
	display: 		inline-block;
	position: 		relative;
	padding: 		0px;
	font-size: 		14px; /* 0.9em */
	font-style:     italic;
	font-weight: 	400;
	vertical-align: middle;
}

a.wliuCommon-sort {
	cursor: 			pointer;
	display: 			inline-block;
	width: 				16px;
	height:  			16px;
	padding: 			0px;
	margin: 			0px;
	background: 		0px center url(wliu.common/wliu-sort-16.png) no-repeat;
	vertical-align: 	middle;
}


input.wliuCommon-checklist {
	cursor: 			pointer;
	display: 			inline-block;
	height:  			24px;
	line-height: 		24px;
	padding: 			0px;
	padding-top: 		2px;
	padding-bottom: 	2px;
	padding-left: 		20px;
	font-size: 			14px;
	min-width:  		80px;
	margin: 			0px;
	border: 			0px;
	border-bottom: 		1px solid rgb(204,204,204);
	border-radius: 		0px;
	background: 		0px center url(wliu.common/wliu-checklist-16.png) no-repeat;
	vertical-align: 	middle;
}

input.wliuCommon-radiolist {
	cursor: 			pointer;
	display: 			inline-block;
	height: 			24px;
	line-height: 		24px;
	padding: 			0px;
	padding-top: 		2px;
	padding-bottom: 	2px;
	padding-left: 		20px;
	font-size: 			1em;
	min-width:  		60px;
	margin: 			0px;
	border: 			0px;
	border-bottom: 		1px solid rgb(204,204,204);
	border-radius: 		0px;
	background: 		0px center url(wliu.common/wliu-radiolist-16.png) no-repeat;
	vertical-align: 	middle;
}

input.wliuCommon-search {
    display:        inline-block;
    position:       relative;
    width:          100px;
    height:         24px;
    line-height:    24px;
    padding:        0px;
    padding-left:   20px;
    margin:         2px;

    border:         1px solid #999999;
    background:     2px center url(wliu.common/wliu-search-16.png) no-repeat;
    vertical-align: middle;
}

select.wliuCommon-filter {
    display:        inline-block;
    position:       relative;
    min-width:      120px;
    height:         24px;
    line-height:    24px;
    padding:        0px;
    padding-left:   20px;
    margin:         2px;
    
    border:         1px solid #999999;
    background:     2px center url(wliu.common/wliu-filter-16.png) no-repeat;
    vertical-align: middle;
}

div.wliu-underline {
    display: block;
    height:  1px;
    border:  0px;
    border-top:     1px solid #efefef;
    border-bottom:  1px solid #999999;
    margin-top:     2px;
    margin-bottom:  2px;
    margin-left:     0px;
    margin-right:   0px;
}

/********* table button **************/
a.wliuCommon-table-btn16 {
	display: 				inline-block;
	position: 				relative;
	padding: 				0px;
	margin:  				0px;
	vertical-align: 		middle;
	
	font-size: 				16px;
	line-height:        	30px;
}

a.wliuCommon-table-btn16:hover {
	color: 					blue;
	text-decoration: 		underline;
}

a.wliuCommon-table-btn16-wrap {
	display: 				block;
}

a.wliu-table-button {
	display: 				inline-block;
	position: 				relative;
	color: 					blue;
	padding:    			0px;
	margin:                 0px 0px;

	font-size:              0.9rem;
	font-weight: 			400;
}
a.wliu-table-button:hover {
	color: 					#0091ea;
    text-decoration:        underline;
}

a.wliu-table-hbutton {
	display: 				inline-block;
	position: 				relative;
	color: 					#ff6d00;
	padding:    			0px;
	margin:                 0px 0px;

	font-size:              0.9rem;
	font-weight: 			400;
}
a.wliu-table-hbutton:hover {
    text-decoration: 		underline;
	color: 					#e65100;
}
/****** end of table button *s*********/



/***************************************************/
a.wliu-btn16-selectlist > div.wliu-selectlist,
a.wliu-btn24-selectlist > div.wliu-selectlist,
a.wliu-btn16-order > div.wliu-selectlist,
a.wliu-btn24-order > div.wliu-selectlist
{
	display:					none;
	position:					absolute;
	top:						0px;
	left:						0px;
	min-width:					100px;
	min-height:					60px;
	white-space:				nowrap;
	z-index:					99;
    overflow-x:             	hidden;
    overflow-y:             	auto;
    background-color:       	#ffffff;

	border:						1px solid #aaaaaa;
	border-radius:				5px;
	padding:					0px;
    box-shadow:		        	1px 1px 5px #666666;
	overflow: 					hidden;

}

a.wliu-btn16-selectlist:hover > div.wliu-selectlist,
a.wliu-btn24-selectlist:hover > div.wliu-selectlist,
a.wliu-btn16-order:hover > div.wliu-selectlist,
a.wliu-btn24-order:hover > div.wliu-selectlist
{
	display:					block;
	opacity:					1;
    animation-name:             example;
    animation-duration:         0.6s;
    animation-timing-function:  cubic-bezier(0.735, 0.275, 0.220, 1);
}

div.wliu-selectlist div.wliu-selectlist-title
{
	display:				block;
	position:				relative;
	color:					#ffffff;
    padding:                5px;          
    border-bottom:          1px solid #999999;
	text-align: 		    center;

}

div.wliu-selectlist .wliu-selectlist-content {
	color:				  #A807C4;
	display:				block;
	position:				relative;
	list-style:				none;
	margin:					0px;
	padding:				2px 5px;

	max-height:             240px;
	padding-right:          30px;
	overflow-y:             auto;
}

div.wliu-selectlist .wliu-selectlist-content  li {
	display:				block;
	position:				relative;
	text-align:				left;
	padding-left:			10px;
	padding-right:          5px;
    font-weight:            normal;
}

li.wliu-orderlist {
	display: 				block;
	position: 				relative;
	background-color: 		#ffffff;
	color: 					#333333;
	font-size: 				0.9em;
}
li.wliu-orderlist-active {
	background-color: 		#0275D8;
	color: 					#ffffff;
}
li.wliu-orderlist:hover {
	background-color: 		#eeeeee;
}
li.wliu-orderlist-active:hover {
	background-color: 		#0275D8;
	color: 					#ffffff;
}
/***************************************************/

/******angular datepicker *********************************/
input.wliuCommon-datepicker {
	cursor: 			pointer;
	display: 			inline-block;
	height:  			24px;
	line-height: 		24px;
	padding: 			0px;
	padding-top: 		2px;
	padding-bottom: 	2px;
	padding-left: 		20px;
	font-size: 			1em;
	width:  			90px;
	margin: 			2px 0px;
	border: 			0px;
	border-bottom: 		1px solid rgb(204,204,204);
	border-radius: 		0px;
	background: 		0px center url(wliu.common/wliu-date-16.png) no-repeat;
	vertical-align: 	middle;
	box-sizing: 		content-box;
}

input.wliuCommon-timepicker {
	cursor: 			pointer;
	display: 			inline-block;
	height:  			24px;
	line-height: 		24px;
	padding: 			0px;
	padding-top: 		2px;
	padding-bottom: 	2px;
	padding-left: 		20px;
	font-size: 			1em;
	width:  			50px;
	margin: 			0px 2px;
	border: 			0px;
	border-bottom: 		1px solid rgb(204,204,204);
	border-radius: 		0px;
	background: 		0px center url(wliu.common/wliu-clock-16.png) no-repeat;
	vertical-align: 	middle;
	box-sizing: 		content-box;
}
/***************************************************/

/***angular list-group ***/
ul.wliuCommon-list-group {
	cursor:  	pointer;
	display: 	block;
	position: 	relative; 
	box-shadow: none;
	min-height: 120px;
}

ul.wliuCommon-list-group li.list-group-item {
	box-shadow: 	none; 
	border-left: 	0px;
	border-right: 	0px;
	text-align:     left;
	white-space:    nowrap;
	overflow: 		hidden;
	text-overflow:  ellipsis;
	background-color: #ffffff;
	color: 			#333333;
	padding-left:   5px;
}

ul.wliuCommon-list-group li.list-group-item-inactive {
	background-color:  #FCD58D
}

ul.wliuCommon-list-group li.list-group-item:first-child {
	border-top:     0px;
}


ul.wliuCommon-list-group li.list-group-item:hover {
	background-color: #eeeeee;
}

ul.wliuCommon-list-group li.list-group-item-inactive:hover {
	background-color:  #FCD58D;
}


ul.wliuCommon-list-group li.active {
	background-color: #0275D8;
	color: 				#ffffff;
	font-weight: 		bold;
}

ul.wliuCommon-list-group li.active:hover {
	background-color: #0275D8;
}

/*** JQuery popup ***/
div.wliu-popup s.arrow {
    display:            inline-block;
    position:           absolute;
    background-color:   transparent;
    background-image:   url(wliu.common/wliu-popup-arrow.png);
    background-repeat:  no-repeat;
}

div.wliu-popup s.arrow-left {
	display: 			none;
    width:              12px;
    height:             22px;
    left:               0px;
    top:                50%;
    margin-top:         -11px;
    margin-left:        -12px;
    background-position: 0px 0px;
}
div.wliu-popup s.arrow-right {
	display: 			none;
    width:              12px;
    height:             22px;
    left:               100%;
    top:                50%;
    margin-top:         -11px;
    margin-right:        -12px;
    background-position: -25px 0px;
}
div.wliu-popup s.arrow-up {
	display: 			none;
    width:              22px;
    height:             12px;
    left:               50%;
    top:                0px;
    margin-top:         -12px;
    margin-left:        -11px;
    background-position: -75px 0px;
}
div.wliu-popup s.arrow-head-up {
	display: 			none;
    width:              22px;
    height:             12px;
    left:               50%;
    top:                0px;
    margin-top:         -12px;
    margin-left:        -11px;
    background-position: -100px 0px;
}
div.wliu-popup s.arrow-down {
	display: 			none;
    width:              22px;
    height:             12px;
    left:               50%;
    top:                100%;
    margin-bottom:      -11px;
    margin-left:        -12px;
    background-position: -50px 0px;
}

div.wliu-popup s.arrow-active {
	display: 			inline-block;
}
/********************/

/***Image Crop*****/
div.wliu-image-frame {
	display: 			inline-block;
	position: 			relative;
	border: 			1px solid #cccccc;
	margin: 			0px;
	box-sizing: 		content-box;
	padding: 			0px;
	background-color:   #000000;
	opacity: 			1;
}


div.wliu-image-frame > img {
	display: 			block;
	position: 			relative;
	padding: 			0px;
	margin: 			0px;
	opacity: 			0.7;
}

div.wliu-image-crop {
	display:			block;
	position:			absolute;
	top:				5%; 			
	left:				5%; 
	width:				90%; 
	height:				90%; 
	border:				2px solid white;
	box-sizing:      	content-box;
	z-index:			99; 

	overflow:           visible;
}

div.wliu-image-crop div.wliu-image-crop-h {
	display:			block; 
	position:			absolute;
	box-sizing:			border-box;

	width:				100%;
	height:				33%; 	
	top:				33%; 	
	border:				1px dotted #cccccc; 
	border-left:		0px;
	border-right:		0px;
}

div.wliu-image-crop div.wliu-image-crop-v {
	display:			block; 
	position:			absolute;
	box-sizing:			border-box;

	height:				100%; 	
	width:				33%;  
	left:				33%;	
	border:				1px dotted #cccccc; 
	border-top:			0px;
	border-bottom:		0px;
}

img[src=''] + div.wliu-image-crop,
div.wliu-image-crop + img[src=''] {
	display:	none;
}

/*** overwrite resize handle ***/
div.ui-resizable-se {
	background-image: url("wliu.common/wliu-resize.png");
	background-position: center center;
	width:            16px;
	height:           16px;
	margin-left:      -12px;
	margin-top:       -12px;
	top:              100%;
	left:             100%;
}

/***  Highest Priority ****/
.wliuCommon-input-invalid,
input[type="password"].wliuCommon-input-invalid,
input.wliuCommon-input-invalid 
{
	border: 	1px solid pink;
	box-shadow: 0px 0px 3px pink;
}

.wliuCommon-text-error,
input[type="password"].wliuCommon-text-error,
input.wliuCommon-text-error 
{
	color:					red;
}

span.input-tiny,
input.input-tiny, 
input.input-tiny,
select.input-tiny,
textarea.input-tiny {
	width:              50px;
}

span.input-short,
input.input-short, 
input.input-short,
select.input-short,
textarea.input-short {
	width: 				80px;
}

span.input-small,
input.input-small, 
input.input-small,
select.input-small,
textarea.input-small {
	width: 				120px;
}

span.input-medium,
input.input-medium, 
input.input-medium,
select.input-medium,
textarea.input-medium {
	width: 				160px;
}

span.input-large,
input.input-large, 
input.input-large,
select.input-large,
textarea.input-large {
	width: 				250px;
}

span.input-long,
input.input-long, 
input.input-long,
select.input-long,
textarea.input-long {
	width: 				300px;
}

span.input-auto,
input.input-auto, 
input.input-auto,
select.input-auto,
textarea.input-auto {
	box-sizing: 		border-box;
	width: 				100%;
}

select {
	box-sizing: content-box;
}


@keyframes example {
    from    { opacity: 0;}
    to      { opacity: 1; }
    /*
    to      { opacity: 0.8; }
    0%      { opacity: 0}
    25%     { opacity: 0.1}
    50%     { opacity: 0.2}
    100%    { opacity: 0.6}
    */
}
