table.lwhCalendar {
	border-collapse:		collapse;
    position:               relative;
    width:                  100%;
    border:                 1px solid #003c54;
    table-layout:           fixed;
	empty-cells:			show;	
	background-color:		#ffffff;
}

table.lwhCalendar td {
	overflow:				hidden;
	border:					1px solid #999999;
    width:                  14%;
}

table.lwhCalendar td.subject div {
	position:				relative;
	color: 					#797979;
    font-family:			Arial, Helvetica, sans-serif;
    font-size: 				18px;
    font-weight: 			400;
    letter-spacing: 		1px;
    margin:	 				0;
    /*
    text-transform: 		uppercase;
	*/
    height:					30px;
    line-height:            30px;
	text-align:				center;
    white-space:            nowrap;
}

table.lwhCalendar td.subject a.lwhCalendar-button {
	display:				inline-block;
	position:				absolute;

	cursor:					pointer;
    top:                    2px;
	width:					32px;
	height:					32px;
	
	background-image:		url(image/lwhCalendar/lwhCalendar-button.png);
	background-repeat:		no-repeat;
	text-decoration:		none;
}


table.lwhCalendar td.subject  a.lwhCalendar-button-nav-prev {
	background-position: 	-80px -40px;
	left: 					10px;
}

table.lwhCalendar td.subject a.lwhCalendar-button-nav-next {
	background-position: 	-120px -40px;
	right: 					10px;
}

table.lwhCalendar td.subject a.lwhCalendar-button-nav-today {
	background-position: 	-40px -40px;
	left: 					60px;
}

table.lwhCalendar td.subject a.lwhCalendar-button-nav-add {
	background-position: 	0px 0px;
    top:                    3px;
	left: 					100px;
}

table.lwhCalendar td.subject select.lwhCalendar-select-month {
    font-size:              18px;
    border:                 1px solid #cccccc;
}

table.lwhCalendar td.subject input.lwhCalendar-select-year {
    font-size:              18px;
    border:                 1px solid #cccccc;
    width:                  60px;
    text-align:             center;
}

table.lwhCalendar        td.head {
	color:					#2309C6;
	height:					30px;
	text-align:				center;
    width:                  14%;
}

table.lwhCalendar        td.head-weekend {
	color:					#F92222;
}

table.lwhCalendar td.date {
    width:                  14%;
}

table.lwhCalendar td.date div {
	position:				relative;
	display:				block;
    font-size:              12px;
	min-height:				60px;
}

table.lwhCalendar td.date-weekend div {
    background-color:      #efefef;
}


table.lwhCalendar td.date-today div {
    background-color:      #A8DEF7;
}


table.lwhCalendar  td.date div span.date-digi {
    color:                  black;
    font-weight:            bold;
}

table.lwhCalendar  td.date div span.date-digi-na {
    color:                  #5F6060;
    font-weight:            lighter;
}


