div.lwhAccord {
	display:				block;
	position:				relative;
	background-color:		#ffffff;
	border:					1px solid #cccccc;
	min-width:				200px;
	min-height:				60px;
}

div.lwhAccord-head {
}

div.lwhAccord > 
div.lwhAccord-headarea {
	display:				block;
	position:				relative;
	top:					0px;
	height:					30px;
	line-height:			30px;
	background-color:		#ACD6F3;
	vertical-align:			middle;
	border-bottom:			1px solid #999999;
}

div.lwhAccord > 
div.lwhAccord-headarea1 {
	display:				block;
	position:				relative;
	height:					26px;
	line-height:			26px;
	background-color:		#ffffff;
	vertical-align:			middle;
	border-bottom:			1px solid #cccccc;
}

a.lwhAccord-button-search {
	display: 				inline-block;
	position:				relative;
	background: 			#20afc5 right center url(image/lwhAccord/search.png) no-repeat;
	border:					1px solid #cccccc;
	
	border-radius:			3px;
	
	padding-right: 			30px;
	vertical-align:			middle;
	overflow:				hidden;
}

a.lwhAccord-button-removeall {
	display: 				inline-block;
	position:				relative;
	width:					22px;
	height:					22px;
	background: 			center center url(image/lwhAccord/removeall.png) no-repeat;
	vertical-align:			middle;
}

a.lwhAccord-button-refresh {
	display: 				inline-block;
	position:				relative;
	width:					22px;
	height:					22px;
	background: 			center center url(image/lwhAccord/refresh.png) no-repeat;
	vertical-align:			middle;
}

span.lwhAccord-button-search-del {
	display: 				inline-block;
	position:				relative;
	width:					20px;
	height:					22px;
	background: 			#ffffff center center url(image/lwhAccord/selection_del.png) no-repeat;
	vertical-align:			middle;
}

a.lwhAccord-button-search > input {
	border:					0px;
	font-size:				14px;
	font-weight: 			bold;
	height:					20px;
	line-height:			20px;
	vertical-align:			middle;
}

a.lwhAccord-button-selection {
	display: 				inline-block;
	position:				relative;
	width:					22px;
	height:					22px;
	background: 			center center url(image/lwhAccord/selection.png) no-repeat;
	vertical-align:			middle;
}

a.lwhAccord-button-selection >
div.lwhAccord-selectionarea {
	display:				none;
	position:				absolute;
	background-color:		#E6E7E8;
	top:					0px;
	left:					0px;
	min-width:				100px;
	min-height:				30px;
	border:					1px solid #aaaaaa;
	border-radius:			3px;
	padding:				3px;
	white-space:			nowrap;
	font-size:				16px;
	z-index:				99;
}

a.lwhAccord-button-selection:hover >
div.lwhAccord-selectionarea {
	display:				block;
}

div.lwhAccord-selectionarea-head {
	display:				block;
	position:				relative;
	font-size:				14px;
	text-align:				center;
	height:					20px;
	line-height:			20px;
	color:					#ffffff;
	background-color: 		#4988DA;
}

ul.lwhAccord-selectionarea-content {
	display:				block;
	position:				relative;
	list-style:				none;
	margin:					0px;
	padding:				0px;
}

ul.lwhAccord-selectionarea-content > li {
	display:				block;
	position:				relative;
	font-size:				14px;
	height:					22px;
	line-height:			22px;
	text-align:				left;
	padding-left:			10px;
	color:					#333333;
}


div.lwhAccord-content {
	display:				block;
	position:				relative;
	margin:					0px;
	padding:				0px;
}



/**********************************/
a.lwhAccord-navi {
    cursor:     pointer;
	position:	relative;
	display:	inline-block;
	width:		16px;
	height:		16px;

	background-image:	url(image/lwhAccord/lwhAccord-navi.png);
	background-repeat:	no-repeat;
	vertical-align:		middle;
    
    margin-left:    2px;
    margin-bottom:  0px;
}



a.lwhAccord-navi-refresh {
	background-position:	-64px 0px;
}
a.lwhAccord-navi-refresh:hover {
	background-position:	-64px -16px;
}
a.lwhAccord-navi-refresh-na,
a.lwhAccord-navi-refresh-na:hover {
	background-position:	-64px -32px;
}

a.lwhAccord-navi-loading {
	background-image:		url(image/lwhAccord/lwhAccord-loading.gif);
	background-repeat:		no-repeat;
	background-position:	center center;
	width:					22px;
	
}

a.lwhAccord-navi-loading-na {
	display:				none;
}
/*****************************/

/**** List Items ****/
ul.lwhAccord {
	padding:	0px;
	margin:		0px;
	list-style: none;
    min-width:  200px;
}

ul.lwhAccord > li.node {
    cursor:                 pointer;
    display:                block;
    position:               relative;

    color:			        #333333;
	font-size:		        14px;
    line-height:            24px;
	
	padding-left:			16px;
    background-color:       transparent;
    background-position:    4px 8px;
    background-repeat:      no-repeat;
    background-image:       url(image/lwhAccord/lwhAccord-node.png);
}

ul.lwhAccord > li.node > ul.lwhAccord {
    display:                none;
}

ul.lwhAccord > li.node-open {
	color:					#000000;
    background-image:       url(image/lwhAccord/lwhAccord-node-open.png);
}

ul.lwhAccord > li.node-open > ul.lwhAccord {
	display:				block;
}

ul.lwhAccord > li.node:hover {
	color:					blue;
}

ul.lwhAccord > li.node-open:hover {
	color:					#333333;
}


ul.lwhAccord > li.node ul.lwhAccord > li.item {
    cursor:                 pointer;
    display:                block;
    position:               relative;
   
    color:			        #333333;
	font-size:		        13px;

    padding-left:           16px;
    line-height:            20px;

    background-position:    0px  6px;
    background-repeat:      no-repeat;
    background-image:       url(image/lwhAccord/lwhAccord-item.png);
}

ul.lwhAccord > li.node ul.lwhAccord > li.item-selected {
    color:                  #EB2512;      
    background-image:       url(image/lwhAccord/lwhAccord-item-selected.png);
}

ul.lwhAccord > li.node ul.lwhAccord > li.item:hover {
	color:					blue;
}

ul.lwhAccord > li.node ul.lwhAccord > li.item-selected:hover {
	color:					#F50000;
}


/* imgvalue */
a.lwhAccord-imgvalue {
	position:	relative;
	display:	inline-block;

	vertical-align:		middle;
    margin-left:        0px;
    margin-right:       1px;
}

a.lwhAccord-imgvalue-status {
    width:  12px;
    height: 12px;
    background-repeat: no-repeat;
}

a.lwhAccord-imgvalue-status-1 {
   background-image: url(image/lwhAccord/status_ok.png);
}

a.lwhAccord-checkButton {
	display:				inline-block;
	position:				relative;
	border:					1px solid #999999;
	border-radius: 			10px;
	background-color:		#cccccc;
	background-position: 	0 center;
	background-repeat: 	 	no-repeat;
	
	width:					20px;
	height:					12px;
	background-image:   	url(image/lwhAccord/check_grey12.png);
	vertical-align:			middle;
	margin-right:			3px;
}

a.lwhAccord-checkButton-checked {
	background-color:		#85D193;
	background-image:   	url(image/lwhAccord/check_green12.png);
	background-position: 	100% center;
}

