div.lwhList {
	display:				block;
	position:				relative;
	background-color:		#ffffff;
	border:					1px solid #cccccc;
	min-width:				240px;
	min-height:				60px;
}

div.lwhList-head {
}

div.lwhList > 
div.lwhList-headarea {
	display:				block;
	position:				relative;
	top:					0px;
	height:					30px;
	line-height:			30px;
	background-color:		#ACD6F3;
	vertical-align:			middle;
	border-bottom:			1px solid #999999;
}

div.lwhList > 
div.lwhList-headarea1 {
	display:				block;
	position:				relative;
	height:					26px;
	line-height:			26px;
	background-color:		#ffffff;
	vertical-align:			middle;
	border-bottom:			1px solid #cccccc;
}

a.lwhList-button-search {
	display: 				inline-block;
	position:				relative;
	background: 			#20afc5 right center url(image/lwhList/search.png) no-repeat;
	border:					1px solid #cccccc;
	
	border-radius:			3px;
	
	padding-right: 			30px;
	vertical-align:			middle;
	overflow:				hidden;
}

a.lwhList-button-removeall {
	display: 				inline-block;
	position:				relative;
	width:					22px;
	height:					22px;
	background: 			center center url(image/lwhList/removeall.png) no-repeat;
	vertical-align:			middle;
}

a.lwhList-button-refresh {
	display: 				inline-block;
	position:				relative;
	width:					22px;
	height:					22px;
	background: 			center center url(image/lwhList/refresh.png) no-repeat;
	vertical-align:			middle;
}

span.lwhList-button-search-del {
	display: 				inline-block;
	position:				relative;
	width:					20px;
	height:					22px;
	background: 			#ffffff center center url(image/lwhList/selection_del.png) no-repeat;
	vertical-align:			middle;
}

a.lwhList-button-search > input {
	border:					0px;
	font-size:				14px;
	font-weight: 			bold;
	height:					20px;
	line-height:			20px;
	vertical-align:			middle;
}

a.lwhList-button-selection {
	display: 				inline-block;
	position:				relative;
	width:					22px;
	height:					22px;
	background: 			center center url(image/lwhList/selection.png) no-repeat;
	vertical-align:			middle;
}

a.lwhList-button-selection >
div.lwhList-selectionarea {
	display:				none;
	position:				absolute;
	background-color:		#E6E7E8;
	top:					0px;
	left:					0px;
	min-width:				100px;
	min-height:				30px;
	border:					1px solid #aaaaaa;
	border-radius:			3px;
	padding:				3px;
	white-space:			nowrap;
	font-size:				16px;
	z-index:				99;
}

a.lwhList-button-selection:hover >
div.lwhList-selectionarea {
	display:				block;
}

div.lwhList-selectionarea-head {
	display:				block;
	position:				relative;
	font-size:				14px;
	text-align:				center;
	height:					20px;
	line-height:			20px;
	color:					#ffffff;
	background-color: 		#4988DA;
}

ul.lwhList-selectionarea-content {
	display:				block;
	position:				relative;
	list-style:				none;
	margin:					0px;
	padding:				0px;
}

ul.lwhList-selectionarea-content > li {
	display:				block;
	position:				relative;
	font-size:				14px;
	height:					22px;
	line-height:			22px;
	text-align:				left;
	padding-left:			10px;
	color:					#333333;
}


a.lwhList-button-sort {
	display: 				inline-block;
	position:				relative;
	width:					22px;
	height:					22px;
	background: 			center center url(image/lwhList/sortlist.png) no-repeat;
	vertical-align:			middle;
}

a.lwhList-button-sort >
div.lwhList-sortarea {
	display:				none;
	position:				absolute;
	background-color:		#E6E7E8;
	top:					0px;
	left:					0px;
	min-width:				100px;
	min-height:				30px;
	border:					1px solid #aaaaaa;
	border-radius:			3px;
	padding:				3px;
	white-space:			nowrap;
	font-size:				16px;
	z-index:				99;
}

a.lwhList-button-sort:hover >
div.lwhList-sortarea {
	display:				block;
}

div.lwhList-sortarea-head {
	display:				block;
	position:				relative;
	font-size:				14px;
	text-align:				center;
	height:					20px;
	line-height:			20px;
	color:					#ffffff;
	background-color: 		#4988DA;
}

ul.lwhList-sortarea-content {
	display:				block;
	position:				relative;
	list-style:				none;
	margin:					0px;
	padding:				0px;
}

ul.lwhList-sortarea-content > li {
	cursor:					pointer;
	display:				block;
	position:				relative;
	font-size:				14px;
	text-align:				left;
	padding-left:			20px;
	height:					22px;
	line-height:			22px;
	color:					#333333;
}

ul.lwhList-sortarea-content > li.selected {
	color:					#FF4400;
	background:				2px center url(image/lwhList/lwhList-tick.png) no-repeat;
}

ul.lwhList-sortarea-content > li:hover {
	color:					blue;
}

ul.lwhList-sortarea-content > li.selected:hover {
	color:					#FF4400;
}




div.lwhList-content {
	display:				block;
	position:				relative;
	margin:					0px;
	padding:				0px;
}


/****** level one style ******/
span.lwhList-navi-pineline {
	color:				black; 
	font-size:			14px; 
	font-weight:		bold; 
	margin-left:		5px; 
	margin-right:		5px;
	vertical-align:		middle;
}

input.lwhList-navi-pageSize {
	text-align: 		    center;
	vertical-align:		    middle;
	width:				    30px;
	font-size:              12px;
    height:					14px;
    line-height:            14px;
    margin-bottom:          4px;
    border:                 0px;
    border-bottom:		    1px solid #cccccc;
}


a.lwhList-navi {
    cursor:     pointer;
	position:	relative;
	display:	inline-block;
	width:		16px;
	height:		16px;
	
	background-image:	url(image/lwhList/lwhList-navi.png);
	background-repeat:	no-repeat;
	vertical-align:		middle;
    
    margin-left:    2px;
    margin-bottom:  0px;
}

a.lwhList-navi-first {
	background-position:	0px 0px;
}
a.lwhList-navi-first:hover {
	background-position:	0px -16px;
}
a.lwhList-navi-first-na,
a.lwhList-navi-first-na:hover {
	background-position:	0px -32px;
}

a.lwhList-navi-prev {
	background-position:	-16px 0px;
}
a.lwhList-navi-prev:hover {
	background-position:	-16px -16px;
}
a.lwhList-navi-prev-na,
a.lwhList-navi-prev-na:hover {
	background-position:	-16px -32px;
}

a.lwhList-navi-next {
	background-position:	-32px 0px;
}
a.lwhList-navi-next:hover {
	background-position:	-32px -16px;
}
a.lwhList-navi-next-na,
a.lwhList-navi-next-na:hover {
	background-position:	-32px -32px;
}

a.lwhList-navi-last {
	background-position:	-48px 0px;
}
a.lwhList-navi-last:hover {
	background-position:	-48px -16px;
}
a.lwhList-navi-last-na,
a.lwhList-navi-last-na:hover {
	background-position:	-48px -32px;
}

a.lwhList-navi-refresh {
	background-position:	-64px 0px;
}
a.lwhList-navi-refresh:hover {
	background-position:	-64px -16px;
}
a.lwhList-navi-refresh-na,
a.lwhList-navi-refresh-na:hover {
	background-position:	-64px -32px;
}

a.lwhList-navi-loading {
	background-image:		url(image/lwhList/lwhList-loading.gif);
	background-repeat:		no-repeat;
	background-position:	center center;
	width:					22px;
	
}

a.lwhList-navi-loading-na {
	display:				none;
}
/*****************************/

/**** List Items ****/

ul.lwhList-ul {
	padding:	0px;
	margin:		0px;
	list-style: none;
    min-width:  240px;
}

ul.lwhList-ul >
li.lwhList-item {
	cursor:			    pointer;
	display:		    block;
    position:           relative;
	padding-left:	    20px;	
    padding-right:      5px;
	background:   	    5px center url(image/lwhList/lwhList-item.png) no-repeat;
	border-bottom:	    1px solid #cccccc;
	background-color:	#efefef;

	height:			    26px;
	line-height:	    26px;

	font-size:			14px;
	white-space:        nowrap;
    overflow:		    hidden;
	text-overflow: 		ellipsis;
	-o-text-overflow: 	ellipsis;
}

ul.lwhList-ul >
li.lwhList-item:hover {
	color:				blue;
	background-color:	#dddddd;
}


ul.lwhList-ul >
li.lwhList-item-selected {
	color:		        #eb2512;
    font-weight:        bold;
	background:         2px center url(image/lwhList/lwhList-item-selected.png) no-repeat;
	background-color:	#eeeeee;
}

ul.lwhList-ul >
li.lwhList-item-selected:hover {
	color:		        #eb2512;
	background-color:	#eeeeee;
}

/* imgvalue */
a.lwhList-imgvalue {
	position:	relative;
	display:	inline-block;

	vertical-align:		middle;
    margin-left:        0px;
    margin-right:       1px;
}

a.lwhList-imgvalue-status {
    width:  12px;
    height: 12px;
    background-repeat: no-repeat;
}

a.lwhList-imgvalue-status-1 {
   background-image: url(image/lwhList/status_ok.png);
}

a.lwhList-checkButton {
	display:				inline-block;
	position:				relative;
	border:					1px solid #999999;
	border-radius: 			10px;
	background-color:		#cccccc;
	background-position: 	0 center;
	background-repeat: 	 	no-repeat;
	
	width:					20px;
	height:					12px;
	background-image:   	url(image/lwhList/check_grey12.png);
	vertical-align:			middle;
	margin-right:			3px;
}

a.lwhList-checkButton-checked {
	background-color:		#85D193;
	background-image:   	url(image/lwhList/check_green12.png);
	background-position: 	100% center;
}

