table.lwhDatepicker {
	border-collapse:		collapse;
    position:               relative;
    width:                  100%;
    border:                 1px solid #003c54;
    table-layout:           fixed;
	empty-cells:			show;	
	background-color:		#ffffff;
	min-width:				300px;
}

table.lwhDatepicker td {
	position:				relative;
	overflow:				hidden;
	border:					1px solid #999999;
    width:                  14%;
}

table.lwhDatepicker td.subject div {
	position:				relative;
	color: 					#797979;
    font-family:			Arial, Helvetica, sans-serif;
    font-size: 				18px;
    font-weight: 			400;
    letter-spacing: 		1px;
    margin:	 				0;
    /*
    text-transform: 		uppercase;
	*/
    height:					28px;
    line-height:            28px;
	text-align:				center;
    white-space:            nowrap;
}

table.lwhDatepicker td.subject a.lwhDatepicker-button {
	display:				inline-block;
	position:				absolute;

	cursor:					pointer;
    top:                    2px;
	width:					24px;
	height:					24px;
	
	background-image:		url(image/lwhDatepicker/lwhDatepicker-button.png);
	background-repeat:		no-repeat;
	text-decoration:		none;
}


table.lwhDatepicker td.subject  a.lwhDatepicker-button-nav-prev {
	background-position: 	-60px -30px;
	left: 					10px;
}

table.lwhDatepicker td.subject a.lwhDatepicker-button-nav-next {
	background-position: 	-90px -30px;
	right: 					10px;
}

table.lwhDatepicker td.subject a.lwhDatepicker-button-nav-today {
	background-position: 	-30px -30px;
	left: 					40px;
}


table.lwhDatepicker td.subject a.lwhDatepicker-removeall {
	display: 				inline-block;
	position:				absolute;
    top:                    2px;
	width:					22px;
	height:					22px;
	right:					40px;
	background: 			center center url(image/lwhDatepicker/removeall.png) no-repeat;
	vertical-align:			middle;
}

/****** selection area  not in use 
a.lwhDatepicker-button-selection {
	display: 				inline-block;
	position:				absolute;
	width:					22px;
	height:					22px;
	left:					60px;
	background: 			center center url(image/lwhDatepicker/selection.png) no-repeat;
	vertical-align:			middle;
}

a.lwhDatepicker-button-selection >
div.lwhDatepicker-selectionarea {
	display:				none;
	position:				absolute;
	background-color:		#E6E7E8;
	top:					0px;
	left:					0px;
	min-width:				100px;
	min-height:				30px;
	border:					1px solid #aaaaaa;
	border-radius:			3px;
	padding:				3px;
	white-space:			nowrap;
	font-size:				16px;
	z-index:				99;
}

a.lwhDatepicker-button-selection:hover >
div.lwhDatepicker-selectionarea {
	display:				block;
}

div.lwhDatepicker-selectionarea-head {
	display:				block;
	position:				relative;
	font-size:				14px;
	text-align:				center;
	height:					20px;
	line-height:			20px;
	color:					#ffffff;
	background-color: 		#4988DA;
}

ul.lwhDatepicker-selectionarea-content {
	display:				block;
	position:				relative;
	list-style:				none;
	margin:					0px;
	padding:				0px;
}

ul.lwhDatepicker-selectionarea-content > li {
	display:				block;
	position:				relative;
	font-size:				14px;
	height:					22px;
	line-height:			22px;
	text-align:				left;
	padding-left:			10px;
	color:					#333333;
}
***/

table.lwhDatepicker td.subject a.lwhDatepicker-button-nav-add {
	background-position: 	0px 0px;
    top:                    3px;
	left: 					100px;
}

table.lwhDatepicker td.subject select.lwhDatepicker-select-month {
    font-size:              14px;
    border:                 1px solid #cccccc;
}

table.lwhDatepicker td.subject input.lwhDatepicker-select-year {
    font-size:              14px;
    border:                 1px solid #cccccc;
    width:                  40px;
    text-align:             center;
}


table.lwhDatepicker        td.head {
	color:					#2309C6;
	height:					30px;
	text-align:				center;
    width:                  14%;
}

table.lwhDatepicker        td.head-weekend {
	color:					#F92222;
}

table.lwhDatepicker td.date {
    width:                  14%;
	position:				relative;
}

table.lwhDatepicker td.date div {
	position:				relative;
	display:				block;
    font-size:              12px;
	min-height:				40px;
}

table.lwhDatepicker td.date-weekend div {
    background-color:      #efefef;
}

table.lwhDatepicker td.date-selected div {
    background-color:      #FCDDC4;
}

table.lwhDatepicker td.date-today div {
    background-color:      #A8DEF7;
}

table.lwhDatepicker  td.date div span.date-digi {
    color:                  black;
    font-weight:            bold;
}

table.lwhDatepicker  td.date div span.date-digi-na {
    color:                  #5F6060;
    font-weight:            lighter;
}

table.lwhDatepicker  td.date input.lwhDatepicker-picker {
	position:				absolute;
	top:					0px;
	right:					0px;
	display:				none;
}

table.lwhDatepicker  td.date:hover input.lwhDatepicker-picker {
	display:				block;
}

table.lwhDatepicker td.date-selected input.lwhDatepicker-picker {
	display:				block;
}

table.lwhDatepicker td.date-selected:hover input.lwhDatepicker-picker {
	display:				block;
}
