<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <httpRuntime maxRequestLength="4096" executionTimeout="00:30:00" enable="true" />
    </system.web>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script" />
    </system.webServer>
</configuration>
