table.wmliu-calendar {
	border-collapse:		collapse;
    position:               relative;
    width:                  100%;
    border:                 1px solid #003c54;
    table-layout:           fixed;
}

table.wmliu-calendar td {
	overflow:				hidden;
	border:					1px solid #999999;
    width:                  14%;
}

table.wmliu-calendar td.subject div {
	position:				relative;
	color: 					#797979;
    font-family:			Arial, Helvetica, sans-serif;
    font-size: 				18px;
    font-weight: 			400;
    letter-spacing: 		1px;
    margin:	 				0;
    /*
    text-transform: 		uppercase;
	*/
    height:					36px;
    line-height:            36px;
	text-align:				center;
    white-space:            nowrap;
}

table.wmliu-calendar td.subject a.wmliu-calendar-button {
	display:				inline-block;
	position:				absolute;

	cursor:					pointer;
    top:                    2px;
	width:					32px;
	height:					32px;
	
	background-image:		url(image/wmliu.calendar/wmliu-calendar-button.png);
	background-repeat:		no-repeat;
	text-decoration:		none;
}


table.wmliu-calendar td.subject  a.wmliu-calendar-button-nav-prev {
	background-position: 	-80px -40px;
	left: 					10px;
}

table.wmliu-calendar td.subject a.wmliu-calendar-button-nav-next {
	background-position: 	-120px -40px;
	right: 					10px;
}

table.wmliu-calendar td.subject a.wmliu-calendar-button-nav-today {
	background-position: 	-40px -40px;
	left: 					60px;
}

table.wmliu-calendar td.subject a.wmliu-calendar-button-nav-add {
	background-position: 	0px 0px;
    top:                    3px;
	left: 					100px;
}

table.wmliu-calendar td.subject select.wmliu-calendar-select-month {
    font-size:              18px;
    border:                 1px solid #cccccc;
}

table.wmliu-calendar td.subject input.wmliu-calendar-select-year {
    font-size:              18px;
    border:                 1px solid #cccccc;
    width:                  60px;
    text-align:             center;
}


table.wmliu-calendar        td.head {
	color:					#2309C6;
	height:					30px;
	text-align:				center;
    width:                  14%;
}

table.wmliu-calendar        td.head-weekend {
	color:					#F92222;
}

table.wmliu-calendar td.date {
    width:                  14%;
}

table.wmliu-calendar        td.date div {
	position:				relative;
	display:				block;
    font-size:              12px;
	min-height:				100px;
}

table.wmliu-calendar  td.date-today div {
    background-color:      #A8DEF7;
}

table.wmliu-calendar  td.date div span.date-digi {
    color:                  black;
    font-weight:            bold;
}

table.wmliu-calendar  td.date div span.date-digi-na {
    color:                  #5F6060;
    font-weight:            lighter;
}

table.wmliu-calendar  td.date div ul
{
	list-style:  		    none;
	margin:				    0px;
	padding:			    0px;
	white-space: 		    nowrap;
	text-decoration:	    none;
}

table.wmliu-calendar td.date div ul li {
    cursor:                 pointer;
    border-top:             1px dotted #A8F7F7;
    list-style:             none;
    padding:                5px 0px 5px 0px;
    margin:                 0px;
}

table.wmliu-calendar td.date div ul li:hover {
	background-color:	    #dddddd;
}

table.wmliu-calendar  td.date div ul li span.time-time {
    color:                  blue;   
}

table.wmliu-calendar  td.date div ul li span.time-title {
    color:                  black;
    white-space:            normal;   
}
