.wmliu-droplist {
	display:		        inline-block;
	position: 		        relative;
    z-index:                90;
    
    box-shadow:             2px 2px 5px #666666;
    border-radius:          16px;
} 

.wmliu-droplist * {
	list-style:  		    none;
	margin:				    0px;
	padding:			    0px;
	white-space: 		    nowrap;
	text-decoration:	    none;
}

.wmliu-droplist > ul.main {
    display:                block;
    position:               relative;
 	border:			        0px solid purple;   
}

.wmliu-droplist > ul.main > li {
    cursor:                 pointer;
    display:                block;
    position:               relative;
    color:			        white;
	font-size:		        14px;
    font-weight:            bold;

	border:			        1px solid #E859EA;
    border-radius:          16px;
    background:             linear-gradient(#FF9BBD, #EF5587);
    padding:                1px 22px 1px 10px;
    
    min-width:              60px;
    height:                 20px;
    line-height:            20px;
}



.wmliu-droplist > ul.main > li > ul.item {
    display:                none;
    position:               absolute;
    margin-top:             2px;
    padding-top:            10px;
    overflow:               hidden;
    
    background-color:       #FEB4CB;
 	border:			        1px solid #E859EA;   
    border-radius:          0px 10px 10px 10px;
    box-shadow:             2px 2px 5px #666666;
}


.wmliu-droplist > ul.main > li:hover > ul.item {
    display:                    block;
    position:                   absolute;
    border-top:                 0px;
    
    animation-name:             example;
    animation-duration:         0.8s;
    animation-timing-function:  cubic-bezier(0.735, 0.275, 0.220, 1);
}


ul.item > li {
    cursor:             pointer;
    display:            block;
    position:           relative;
        
	color:              #666666;
    font-size:		    14px;
    padding:            0px 10px 0px 25px;

    background:         8px center url(image/wmliu.droplist/wmliu-droplist-item.png) no-repeat;    
    
    height:             24px;
    line-height:        24px;
}

ul.item > li.selected {
    background:         6px center url(image/wmliu.droplist/wmliu-droplist-item-selected.png) no-repeat;    
}


ul.item > li:hover {
    background-color:   #FF9BBD;
}



.wmliu-droplist a.wmliu-droplist-down {
    display:    inline-block;
    position:   absolute;
    width:      18px;
    height:     18px;
   
    top:        2px;
    right:      2px;
    
    background: center center url(image/wmliu.droplist/wmliu-droplist-down-pink.png) no-repeat;
    vertical-align: middle
}




/**** white   ****/
.wmliu-droplist-white > ul.main > li {
    color:			        black;
	border:			        1px solid #cccccc;
    background:             linear-gradient(#efefef, #dddddd, #efefef);
}

.wmliu-droplist-white > ul.main > li > ul.item {
    background-color:       #efefef;
 	border:			        1px solid #cccccc;   
    overflow:               hidden;
}

.wmliu-droplist-white ul.item > li:hover {
    background-color:   #cccccc;
}

.wmliu-droplist-white a.wmliu-droplist-down {
    background: center center url(image/wmliu.droplist/wmliu-droplist-down-grey.png) no-repeat;
}


/**** blue   ****/
.wmliu-droplist-blue > ul.main > li {
    color:			        black;
	border:			        1px solid #0598B2;
    background:             linear-gradient(#A9F6FC, #4ED6DB, #A9F6FC);
}

.wmliu-droplist-blue > ul.main > li > ul.item {
    background-color:       #A9F6FC;
 	border:			        1px solid #0598B2;   
    overflow:               hidden;
}

.wmliu-droplist-blue ul.item > li:hover {
    background-color:   #0BBEDD;
}

.wmliu-droplist-blue a.wmliu-droplist-down {
    background: center center url(image/wmliu.droplist/wmliu-droplist-down-blue.png) no-repeat;
}




@keyframes example {
    from    { opacity: 0;}
    to      { opacity: 1; }
    /*
    0%      { opacity: 0}
    25%     { opacity: 0.1}
    50%     { opacity: 0.2}
    100%    { opacity: 0.6}
    */
}