/***  ul common ***/
ul.wmliu-treeview {
	list-style-type:		none;
	list-style-image:		none;
	list-style-position:	outside;
	margin:					0px;
	padding:				0px;
	padding-left:			20px;
}
/********************/

/***  li common ***/
/***  li vertical through line |  L ***/
ul.wmliu-treeview > li {
    cursor:					default;
	padding: 				0px;
	vertical-align:			middle;
	white-space:			nowrap;

	background-color:		#ffffff;
	background-position: 	0px 0px;

	background-repeat:		repeat-y; 
	background-image:		url(image/wmliu.tree/wmliu-tree-vline.png);
}

ul.wmliu-treeview > li > span {
    vertical-align:         middle;
}

ul.wmliu-treeview > li:last-child {
	background-repeat:		no-repeat; 
	background-image:		url(image/wmliu.tree/wmliu-tree-vline-last.png);
}
/********************/


/***  li horizontal line for node |- L ***/
ul.wmliu-treeview > li > s {
	cursor:					pointer;
	display: 				inline-block;
	vertical-align:			middle;

	background-color:		#ffffff;
	background-repeat:		no-repeat; 
	background-position: 	center center;
}

ul.wmliu-treeview > li > s.line {
	width:	 				20px;
	height:					20px;

	background-image:		url(image/wmliu.tree/wmliu-tree-hline.png);
}

ul.wmliu-treeview > li:last-child > s.line  {
	background-image:		url(image/wmliu.tree/wmliu-tree-hline-last.png);
}

ul.wmliu-treeview > li.nodes > s.line {
	background-image:		url(image/wmliu.tree/wmliu-tree-hline-close.png);
}

ul.wmliu-treeview > li.nodes:last-child > s.line {
	background-image:		url(image/wmliu.tree/wmliu-tree-hline-last-close.png);
}

ul.wmliu-treeview > li.nodes > s.line-open {
	background-image:		url(image/wmliu.tree/wmliu-tree-hline-open.png);
}

ul.wmliu-treeview > li.nodes:last-child > s.line-open {
	background-image:		url(image/wmliu.tree/wmliu-tree-hline-last-open.png);
}

/*** here nochild case*/
ul.wmliu-treeview > li.nodes-nochild > s.line {
	background-image:		url(image/wmliu.tree/wmliu-tree-hline.png);
}

ul.wmliu-treeview > li.nodes-nochild:last-child > s.line {
	background-image:		url(image/wmliu.tree/wmliu-tree-hline-last.png);
}

ul.wmliu-treeview > li.nodes-nochild > s.line-open {
	background-image:		url(image/wmliu.tree/wmliu-tree-hline.png);
}

ul.wmliu-treeview > li.nodes-nochild:last-child > s.line-open {
	background-image:		url(image/wmliu.tree/wmliu-tree-hline-last.png);
}
/********************/

/*** s img default ***/
ul.wmliu-treeview > li > s.img {
	width:	 				20px;
	height:					20px;
	background-image:		url(image/wmliu.tree/wmliu-tree-node.png);
}

ul.wmliu-treeview > li.nodes > s.img {
	background-image:		url(image/wmliu.tree/wmliu-tree-nodes.png);
}

ul.wmliu-treeview > li.nodes > s.img-open {
	background-image:		url(image/wmliu.tree/wmliu-tree-nodes-open.png);
}

ul.wmliu-treeview > li.tttable > s.img {
	background-image:		url(image/wmliu.tree/wmliu-tree-tt-nodes.png);
}

ul.wmliu-treeview > li.tttable > s.img-open {
	background-image:		url(image/wmliu.tree/wmliu-tree-tt-nodes-open.png);
}

ul.wmliu-treeview > li >        s.node-selected-img {
	width:	 				20px;
	height:					20px;
    display:                none;
	background-image:		url(image/wmliu.tree/wmliu-tree-node-selected.png);
}

ul.wmliu-treeview > li.selected > s.node-selected-img {
    display:                inline-block;
}
/********************/



/*** s other image here  type="user"  ***/
ul.wmliu-treeview > li > s.imguser {
	background-image:		url(image/wmliu.tree/wmliu-tree-user.png);
}

ul.wmliu-treeview > li.nodes > s.imguser {
	background-image:		url(image/wmliu.tree/wmliu-tree-users.png);
}

ul.wmliu-treeview > li.nodes > s.imguser-open {
	background-image:		url(image/wmliu.tree/wmliu-tree-users-open.png);
}
/********************/

/*** s custom image here  type="option" ***/
ul.wmliu-treeview > li > s.imgoption {
	background-image:		url(image/wmliu.tree/wmliu-tree-option-user.png);
}
ul.wmliu-treeview > li > s.imgoptionmale {
	background-image:		url(image/wmliu.tree/wmliu-tree-option-gender-1.png);
}
ul.wmliu-treeview > li > s.imgoptionfemale {
	background-image:		url(image/wmliu.tree/wmliu-tree-option-gender-2.png);
}
ul.wmliu-treeview > li > s.imgoptionvolunteer {
	background-image:		url(image/wmliu.tree/wmliu-tree-option-volunteer-1.png);
}
ul.wmliu-treeview > li > s.imgoptionvolunteer1 {
	background-image:		url(image/wmliu.tree/wmliu-tree-option-volunteer-2.png);
}
ul.wmliu-treeview > li.nodes > s.imgoption {
	background-image:		url(image/wmliu.tree/wmliu-tree-users.png);
}

ul.wmliu-treeview > li.nodes > s.imgoption-open {
	background-image:		url(image/wmliu.tree/wmliu-tree-users-open.png);
}
/********************/


ul.wmliu-treeview li span.edit {
	margin-left:		5px;
}
















