ul.wmliu-accord {
	display:                block;
    position:               relative;
    list-style:             none;
    min-width:              160px;
	margin:				    0px;
	padding:			    0px;

    border:                 0px;
    border-radius:          5px;
}

.wmliu-accord * {
	list-style:  		    none;
	margin:				    0px;
	padding:			    0px;
	white-space: 		    nowrap;
	text-decoration:	    none;
}

ul.wmliu-accord > li {
    cursor:                 pointer;
    display:                block;
    position:               relative;

    color:			        #333333;
	font-size:		        16px;
    user-select:            none;
    margin-top:             1px;
	border-top:			    1px solid #cccccc;
	border-bottom:			1px solid #aaaaaa;
	border-left:	        1px solid #cccccc;
	border-right:	        1px solid #aaaaaa;
    border-radius:          5px;
    
    background:             linear-gradient(#efefef, #eeeeee, #efefef);
    line-height:            30px;
}

ul.wmliu-accord > li:hover {
    /* 
    color:                  #5258C4;                 
    */
}

ul.wmliu-accord > li > a.state {
    display:                inline-block;
    position:               relative;
    width:                  8px;
    height:                 8px;
    margin-top:             -2px;
    margin-left:            5px;
    margin-right:           5px;
    vertical-align:         middle;
    
    background-color:       transparent;
    background-position:    center center;
    background-repeat:      no-repeat;
    background-image:       url(image/wmliu.accord/wmliu-accord1.png);
}

ul.wmliu-accord > li.open > a.state {
    background-image:       url(image/wmliu.accord/wmliu-accord-open.png);
}

ul.wmliu-accord > li.close > a.state {
    background-image:       url(image/wmliu.accord/wmliu-accord-close.png);
}


ul.wmliu-accord > li > ul {
    display:                none;    
}

ul.wmliu-accord > li.open > ul {
    display:                block;
    border-top:             2px solid #aaaaaa; 
    /*
    border-left:            1px solid #999999; 
    border-right:           2px solid #eeeeee; 
    */
    border-bottom:          1px solid #eeeeee; 
}

ul.wmliu-accord > li.close > ul {
    display:        none;    
}

ul.wmliu-accord > li > ul > li{
    cursor:                 pointer;
    display:                block;
    position:               relative;
   
    color:			        #333333;
	font-size:		        14px;
    user-select:            none;

    padding-left:           10px;
    line-height:            26px;

    background-color:       #dddddd;
}


ul.wmliu-accord > li > ul > li > a.state{
    display:                inline-block;
    position:               relative;
    width:                  14px;
    height:                 14px;
    margin-top:             -2px;
    margin-left:            5px;
    margin-right:           2px;
    vertical-align:         middle;
    
    background-color:       transparent;
    background-position:    center center;
    background-repeat:      no-repeat;
}


ul.wmliu-accord >li > ul > li:hover {
    /* 
    color:                  #5258C4;                 
    */
    background-color:       #cccccc;
}

ul.wmliu-accord >li > ul > li:hover > a.state {
    background-image:       url(image/wmliu.accord/wmliu-accord-item.png);
}

ul.wmliu-accord >li > ul > li.selected {
    color:                  #FD0000;
}

ul.wmliu-accord >li > ul > li.selected > a.state {
    background-image:       url(image/wmliu.accord/wmliu-accord-item-selected.png);
    margin-left:            3px;
    margin-right:           5px;
}


/*** blue ***/
ul.wmliu-accord-blue > li {
    color:                  #ffffff;

	border-bottom:			1px solid #4F86DD;
	border-left:	        1px solid #4F86DD;
	border-right:	        1px solid #4F86DD;

    background:             linear-gradient(#1B9FF2, #1A94E0, #1B9FF2);       
}


ul.wmliu-accord-blue > li.open > ul {
    display:                block;
    border-top:             2px solid #0774B7; 
    /*
    border-left:            1px solid #999999; 
    border-right:           2px solid #eeeeee; 
    */
    border-bottom:          1px solid #78BDE8; 
}

ul.wmliu-accord-blue > li > ul > li{
    color:			        #ffffff;
    background-color:       #1885C9;
}


ul.wmliu-accord-blue >li > ul > li:hover {
    background-color:       #1B5C84;
}

ul.wmliu-accord-blue >li > ul > li.selected {
    color:                  #FD0000;
}




/******* accord1   ********************************************/
ul.wmliu-accord1 {
	display:                block;
    position:               relative;
    list-style:             none;
    min-width:              160px;
	margin:				    0px;
	padding:			    0px;
}

.wmliu-accord1 * {
	list-style:  		    none;
	margin:				    0px;
	padding:			    0px;
	white-space: 		    nowrap;
	text-decoration:	    none;
}

ul.wmliu-accord1 > li {
    cursor:                 pointer;
    display:                block;
    position:               relative;

    color:			        #333333;
	font-size:		        14px;
    line-height:            24px;
	
	padding-left:			16px;
    background-color:       transparent;
    background-position:    0px 8px;
    background-repeat:      no-repeat;
    background-image:       url(image/wmliu.accord/wmliu-accord1.png);
}

ul.wmliu-accord1 > li.selected {
	color:					#000000;
    background-image:       url(image/wmliu.accord/wmliu-accord1-selected.png);
}

ul.wmliu-accord1 > li:hover {
	color:					blue;
}

ul.wmliu-accord1 > li.selected:hover {
	color:					#333333;
}


ul.wmliu-accord1 > li > ul {
	color:					#333333;
	font-weight:			normal;
    display:                none;    
}

ul.wmliu-accord1 > li.selected > ul {
    display:                block;
}


ul.wmliu-accord1 > li > ul > li{
    cursor:                 pointer;
    display:                block;
    position:               relative;
   
    color:			        #333333;
	font-size:		        13px;

    padding-left:           16px;
    line-height:            20px;

    background-position:    0px  6px;
    background-repeat:      no-repeat;
    background-image:       url(image/wmliu.accord/wmliu-accord1-item.png);
}

ul.wmliu-accord1 > li > ul > li.selected {
    color:                  #EB2512;      
    background-image:       url(image/wmliu.accord/wmliu-accord-item.png);
}

ul.wmliu-accord1 > li > ul > li:hover {
    color:                  blue;                
}


ul.wmliu-accord1 > li > ul > li.selected:hover {
	color:					#F50000; 
}


